


html 		{
	background-color: black;
	background-image: url("../images/rpswallpaper.png");
	background-repeat: no-repeat;
	background-size: 100%;
	
} /* end html */


.container 	{
	position: relative;
	margin: 0 auto;  
	/* margin-top: 100px; */
	width: auto;
	
	background-color: transparent;
	float: none;
	
	height: auto !important; */
	
	border-style: ridge;
	border-width: 0px;
	border-color: black;
	text-align: center;
	overflow: auto;

}	/* end .container */      

header 		{
	
	min-height: 100px;
	padding-top: 5px;
	
	position: relative;
	float: none;
	text-align: center;
	font-size: 300%;
	font-style: italic;
	background-color: wheat;
	color: inherit;
	border-style: ridge;
	border-width: 5px;
	border-radius: 15px;
	border-color: limegreen;
	
	overflow: auto;	 

}	/* end header */



body 		{	
	background-color: transparent;
    width: auto;
    height: auto;
	margin: 0 auto; /* Centers whole page dammit */
	padding: 0px;
	height: auto;
	color: black;
	border-width: 0px;
	text-align: center;

}	/* end body */ 


h1, h3		{
	font-family: 'Times new roman', serif;
	font-size: 20px;
	color: wheat;

}

h2 {
	font-family: 'Times new roman', serif;
	font-size: 20px;
	color: black !important;

}

#submitLabel{
	color: limegreen;
	

	font-size: 18px;
}




button, #addAnimal {
	color: black;
	min-width: 100px;
	margin: 2px;
	height: 30px;
	font-size: 20px;
	border-style: ridge;
	border-color: limegreen;
	border-width: 4px;
	background-color: wheat;

}   

#playerBox {
	
	position: relative;
	float: none;
	padding: 10px;
	max-width: 500px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
	border-style: ridge;
	border-color: wheat;
	color: wheat;
	border-width: 0px;
	font-size: 15px;
	overflow: auto;
	text-align: center;

}	/* end #player1 */

#player1 {
	position: relative;
	float: left;
	padding: 0px;
	width: 200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	border-style: ridge;
	border-color: wheat;
	color: wheat;
	border-width: 5px;
	
	font-size: 15px;
	overflow: auto;
	text-align: center;

}	/* end #player1 */

#player2 {
	position: relative;
	float: left;
	padding: 0px;
	width: 200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	border-style: ridge;
	border-color: wheat;
	color: wheat;
	border-width: 5px;
	
	font-size: 15px;
	overflow: auto;
	text-align: center;

}	/* end #player2 */

input	{
	width: 150px;
	color: black
	background-color: steelblue;
}

#buttonCol	{
	position: relative;
	float: left;

}

#submitCol	{
	position: relative;
	float: left;
	text-align: center;

}

#animalRow	{
	position: relative;
	float: left;
	padding: 0px;
	margin: 0px;
	width: 100%;
	color: wheat;
	font-size: 20px;

}



hr {
color: wheat;
width: 100%;
padding: 0px;
margin-top:  5px;
margin-bottom: 5px;
}



button:hover, #addAnimal:hover { 
	
	background-color: limegreen;
	border-color: wheat;
	

}


@media only screen and (max-width: 400px)


	{	

		.container 	{
			width: 300px;
					}

		
		body 		{
			width: 300px; 
					}
		
		#player1, #player2 {
			margin-left: 30px;
		}
	}
		


